services:
  web:
    image: ghcr.io/larrymerino/website:latest
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
    restart: unless-stopped

networks:
  default:
    external: true
    name: ${DOCKER_NETWORK}